* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: white;
    background-color: rgb(119, 15, 15);
}

button {
    border: .1rem solid white;
    border-radius: .3rem;
    padding: .2rem;
    background-color: white;
    color: rgb(119, 15, 15);
}

button:hover {
    cursor: pointer;
    background-color: rgb(119, 15, 15);
    color: white;
}

#game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#opponent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hand_label {
    margin-bottom: .1rem;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_img {
    width: 8rem;
    margin: .1rem;
}